ion-header {
    background: var(--ion-color-warning);
    height: 30% !important;
    border-radius: 0px 0px 25px 25px;
    z-index: -1 !important;
    ion-toolbar,
    ion-item {
        --background: transparent;
    }

    ion-button {
        text-transform: none;
        font-weight: bold;
    }

    ion-label {
        padding: 0 5px;
        .title {
            font-weight: 800;
            font-size: 1.5em;
        }
        p {
            font-weight: bold;
            font-size: 1em;
            margin-top: 1vh;
        }
    }
}

#banner {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: linear-gradient(to bottom, transparent, white);
    .img {
        width: 90%;
        height: 300px;
        border-radius: 25px 8px 25px 8px;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        //     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background: url("../../../assets/images/bar.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 15px;
    ion-icon {
        font-size: 25px;
    }
}

ion-list {
    position: relative;
    top: 40%;
    ion-list-header {
        font-weight: bold;
    }
}
