<ion-content class="ion-text-center">
    <img src="assets/images/logo.jpg" />
</ion-content>
<ion-footer>
    <ion-list lines="none">
        <ion-item > 
            <ion-label>
                <span class="title">Ola, Boozer!</span>
                <p class="ion-text-wrap">
                    <ion-text class="ion-text-justify">
                        O Aplicativo certo para você que gosta de tomar uma cerveja 
                        ou seu drink preferido no conforto de sua casa.
                    </ion-text>
                </p>
                <ion-row class="ion-padding-vertical">
                    <ion-col size="6">
                        <ion-button expand="block" size="medium" shape="round" color="light" (click)="login()">
                            Login
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button expand="block" size="medium" shape="round" color="dark" (click)="cadastro()">
                            Cadastro
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-footer>