ion-content {
    img {
        transform: translateY(20%);
        width: 45vh;
        max-height: 50vh;
    }
}

ion-list {
    background: var(--ion-color-warning);
    border-radius: 25px 25px 0px 0px;
    ion-item {
        --background: transparent;
        ion-label {
            padding: 15px 5px;
            .title {
                font-weight: bold;
                font-size: 24px;
            }
            p {
                font-weight: bold;
                margin-top: 10px;
                font-size: 16px;
                color: black;
            }
        }
    }
}
