<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <div class="menu-header-bg">
        </div>

        <div class="header-content">
          <img src="../assets/images/logo.jpg" alt="">
        </div>

        <ion-list lines="none" class="menu-items">

          <ion-item>
            <ion-icon name="home-outline"></ion-icon> Home
          </ion-item>

          <ion-item>
            <ion-icon name="beer-outline"></ion-icon> Pedidos
          </ion-item>

          <ion-item>
            <ion-icon name="happy-outline"></ion-icon> Pedidos finalizados
          </ion-item>

          <ion-item>
            <ion-icon name="card-outline"></ion-icon> Cartões
          </ion-item>

          <ion-item>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Chat
          </ion-item>

          <ion-item>
            <ion-icon name="person-outline"></ion-icon> Meu perfil
          </ion-item>

          <ion-item>
            <ion-icon name="exit-outline"></ion-icon> Sair
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>