ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: var(--ion-color-ligth);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-medium);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.m-l-icons {
  margin-left: 5px !important;
}

ion-menu {
  --ion-background-color: var(--ion-color-warning);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-toolbar {
    --background: var(--ion-color-primary);
  }

  ion-list {
    /* optional, but it needs when you use gradient as a background color.*/
    background: transparent;
  }
}

ion-item {

  color: white !important;
  font-size: 18px;

  ion-icon {
    color: white !important;
    margin-right: 5px;

  }

  ion-label {
    color: #242424 !important;
  }
}

ion-item.ios {
  border-bottom: none !important;
}

ion-list-header {
  color: #242424 !important;

}

ion-note {
  color: #242424 !important;

}

.menu-header-bg {
  height: 240px;
  width: 350px;
  background: white;
  background: linear-gradient(90deg, var(white) 0%, var(--ion-color-dark) 0%);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -70px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 0px;
  left: 15px;
  display: flex;
  align-items: center;  
  font-size: 14px;

  img {
    width: 60%;
    height: auto;
  }

  menu-items {
    margin: 0px;

    ion-icon {
      margin-right: 20px;
      color: var(--ion-color-primary);
    }

    ion-item {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    .active {
      border-left: 5px solid;
      padding-left: 15px;
    }
  }
}